@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Your one-stop destination for honest and in-depth game reviews.
    Explore the latest reviews, ratings, and gaming news all in one place.
    At Game Critic, we believe in providing gamers with the most accurate and detailed reviews to help them make informed decisions.
    Whether you are a casual player or a hardcore gamer, our platform offers a wealth of information, including game guides, walkthroughs, and expert opinions.
    Join our community and stay updated with the newest trends in the gaming world.
    Discover new games, share your thoughts, and connect with fellow gamers and players.
</p>
